.CustomHeaderCSS {
    width: 100%;
    padding: 1.4rem;
    color: white;
    transition: 200ms;
    background: #607085;
}

.CustomFooterCSS {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4b5768;
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
    height: 85px;
    background-position: top;
}
